In [1]:
#apply

In [12]:
import pandas as pd
import numpy as np

In [26]:
df = pd.DataFrame({"gruplar" : ["A","B","C","A","B","C"],
                   "degisken1": [10,23,33,22,11,99],
                   "degisken2" : [100,253,333,262,11,969]},
                  columns = ["gruplar","degisken1","degisken2"])

In [27]:
df

  gruplar  degisken1  degisken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11         11
5       C         99        969

In [28]:
df.apply(np.sum)

gruplar      ABCABC
degisken1       198
degisken2      1928
dtype: object

In [30]:
#df.apply(np.mean)

In [31]:
df.groupby("gruplar").apply(np.sum)

        gruplar  degisken1  degisken2
gruplar
A            AA         32        362
B            BB         34        264
C            CC        132       1302